.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.circle.active {
    border-color: #3498db;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 50px; /* Add height to the container */
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    background-color: #3498db;
    z-index: -1;
    width: 0; /* Ensure width starts at 0 */
    transition: width 0.3s ease;
    transform: translateY(-50%);
}
